@import "../../styles/colors";

.footerArea {
	padding-bottom: 3rem;
	text-align: center;
	position: relative;
	bottom: 0;
	

	a {
		font-size: 2rem;
		padding: 0 1rem;
		color: $blue;

		&:hover {
			color: $yellow;
		}
	}
}
