@import "../../styles/colors";
@import "../../styles/mixins";

.footerArea {
	padding-bottom: 3rem;
	text-align: center;
	position: relative;
	bottom: 0;

	a {
		@include socialIcon;
		font-size: 2rem;
		padding: 0 1rem;
	}
} // end footer
