.container {
	margin: 0 auto;
}

.contact {
	max-width: 100%;
	margin: 0 auto;
	font-size: 1.25rem;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
}

.inputGroup {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
	margin-bottom: 0.5rem;

	label {
		font-weight: bold;
	}
}

.input {
	padding: 5px 10px;
	font-size: 1rem;
}

.message {
	max-width: 100%;
	min-width: 100%;
	margin-bottom: 0.5rem;
	font-size: 1rem;
}

.submitBtn {
	padding: 10px 5px;
	font-size: 1.25rem;
	width: 100%;
	background: rgb(24, 151, 255);
	outline: none;
	border: none;
	cursor: pointer;
}
