@import "../../styles/colors";
@import "../../styles/mixins";

.container {
	height: 100vh;
	max-width: 90%;
	margin: 0 auto;
}

.headArea {
	border-bottom: 2px solid $purple;
}

.mainArea {
	margin: 0 auto;
	padding: 2rem;
}

.footArea {
	position: relative;
	bottom: 0;
	padding: 2rem 0;
	border-top: 2px solid $pink;
	text-align: center;
}
