@import "../../styles/colors";

.container {
	max-width: 70%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
}

.headArea {
	border-bottom: 2px solid $purple;
}

.mainArea {
	margin: 0 auto;
	padding: 2rem;
	overflow-y: visible;
	overflow-x: hidden;
}

.footArea {
	height: auto;
	padding: 2rem 0;
	border-top: 2px solid $pink;
	text-align: center;
}
