@import "../../styles/colors";
@import "../../styles/mixins";

.navContainer {
	display: grid;
	grid-template-columns: 1fr;
	padding-top: 4rem;
	padding-bottom: 2rem;

	.logo {
		display: flex;
		justify-content: center;
		margin-bottom: 1.5rem;

		.logoLink {
			color: $aqua;
			font-weight: bold;
			text-decoration: 5px underline $yellow;

			&:hover {
				color: $yellow;
				font-weight: bold;
				text-decoration: 5px underline $aqua;
			}
		}

		@include md {
			display: block;
			margin-bottom: 0;
		}
	}

	.navLinks {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;

		.navLink {
			padding: 0 1rem;
			text-decoration: none;
			font-weight: bold;

			&:hover {
				transform: scale(1.1);
				color: $aqua;
				text-decoration: underline $yellow;
			}

			&:focus {
				outline: none;
				text-decoration: underline $yellow;
			}
		} // end link
	} // end navLinks

	@include md {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
} // end navContainer
