.navContainer {
	display: grid;
	grid-template-columns: 1fr;

	.logo {
		.rocket {
			font-size: 75px;
		}
	} // end logo

	.navLinks {
		display: flex;
		justify-content: space-around;

		Link {
			border: 1px solid blue;
			font-size: 2rem;
			color: dodgerblue;
			text-decoration: none;
			font-weight: 600;

			&:hover {
				transform: scale(1.1);
			}

			&:focus {
				border-bottom: 2px solid rgb(250, 43, 43);
			}
		} // end link
	} // end navLinks
} // end navContainer
