@import "../../styles/mixins";
@import "../../styles/colors";

.projectTitle {
	@include pageTitle;
	margin-bottom: 2rem;
}

.card {
	@include shadow;
	margin: 0 auto 4rem auto;
	background: white;

	.imgArea {
		a {
			&:hover {
				transform: scale(1.1);
			}
		}
		.cardImage {
			&:hover {
				opacity: 0.8;
			}
		}
	} // end img area

	.description {
		padding: 0.5rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		h3 {
			color: $background;
			font-weight: bold;
			text-align: left;
		}

		a {
			padding-right: 2rem;
			@include socialIcon;
			font-size: 2.5rem;
		}
	} // end description

	.descArea {
		padding: 1rem 0.5rem 1.5rem 0.5rem;

		a {
			@include copyLinks;
		}

		.gitLink {
			@include socialIcon;
			margin-left: 1rem;
			font-size: 2rem;
		}
	} // end desc area
} // end card
