@import "../../styles/mixins";
@import "../../styles/colors";

h1 {
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 1rem;
}

h3 {
	color: $background;
	font-weight: bold;
}

.card {
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	margin: 0 auto 4rem auto;

	.imgArea {
		a {
			&:hover {
				transform: scale(1.1);
			}
		}
		.cardImage {
			width: 100%;
			height: auto;
		}
	}

	.descArea {
		.gitLink {
			color: $blue;
			margin-left: 1rem;
			font-size: 2rem;

			&:hover {
				color: $yellow;
			}
		}
	}

	// @include lg {
	// 	display: grid;
	// 	grid-template-columns: 1fr 1fr;
	// }
}
