@import "../../styles/colors";
@import "../../styles/mixins";

.wrapper {
	height: 100vh;
	width: 95vw;
	margin: 0 auto;
	border: 5px solid red;

	.topBar {
		background: lightgray;
		height: 2rem;

		.circles {
			display: flex;
			align-items: center;
			padding: 0.65rem 0.5rem;

			.one {
				margin-right: 0.5rem;
				border-radius: 50%;
				height: 0.75rem;
				width: 0.75rem;
				background-color: #ff605c;
			}

			.two {
				margin-right: 0.5rem;
				border-radius: 50%;
				height: 0.75rem;
				width: 0.75rem;
				background: #ffbd44;
			}

			.three {
				border-radius: 50%;
				height: 0.75rem;
				width: 0.75rem;
				background: #00ca4e;
			}
		}
	}

	.screen {
		padding: 0.5rem;
		height: 100%;
		overflow-y: scroll;
		background: white;

		.content {
			height: auto;
			padding: 0.5rem 0.5rem;
			margin: 0 auto;

			// @include sm {
			// 	max-width: 90%;
			// }

			// @include md {
			// 	max-width: 85%;
			// }

			// @include lg {
			// 	max-width: 70%;
			// }

			// @include xl {
			// 	max-width: 60%;
			// }
		}
	}

	@include sm {
		max-width: 90%;
	}

	@include md {
		max-width: 85%;
	}

	@include lg {
		max-width: 80%;
	}

	@include xl {
		max-width: 60%;
	}
}
