// Screen sizes and media queries
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

@mixin xs {
	@media (min-width: #{$screen-xs}) {
		@content;
	}
}

@mixin sm {
	@media (min-width: #{$screen-sm}) {
		@content;
	}
}

@mixin md {
	@media (min-width: #{$screen-md}) {
		@content;
	}
}

@mixin lg {
	@media (min-width: #{$screen-lg}) {
		@content;
	}
}

@mixin xl {
	@media (min-width: #{$screen-xl}) {
		@content;
	}
}

// Page title style
@mixin pageTitle {
	border-bottom: 4px solid $yellow;
	background: $blue;

	h1 {
		text-align: left;
		text-transform: uppercase;
		font-weight: bold;
		padding: 1rem;
		color: white;
	}
}

// Body copy link styles
@mixin copyLinks {
	color: $blue;
	text-decoration: none;

	&:hover {
		color: $yellow;
		text-decoration: underline $blue;
	}
}

// Social icon styles
@mixin socialIcon {
	color: $blue;

	&:hover {
		color: $yellow;
		transform: scale(1.1);
	}
}

// Box shadow
@mixin shadow {
	box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
