@import "mixins";
@import "colors";

.aboutGrid {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;

	h1 {
		text-align: left;
		text-transform: uppercase;
		font-weight: bold;
	}

	.aboutText {
		max-width: 84ch;
	}

	.emojiList {
		margin: 0 auto;
		line-height: 2rem;
		display: flex;

		div {
			padding: 0 1rem;
		}
	}
}
