@import "mixins";
@import "colors";

.container {
	margin: 0 auto;
	height: auto;
	padding: 1rem 0;
	max-width: 100%;

	.aboutGrid {
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem;

		.aboutTitle {
			text-align: left;
			text-transform: uppercase;
			color: $aqua;
			font-weight: bold;
		}
		// .aboutText {
		// 	max-width: 60ch;
		// }

		.emojiList {
			margin: 0 auto;
			line-height: 2rem;

			li {
				font-weight: bold;
				color: $yellow;
			}
		}

		@include md {
			padding: 2rem 0;
			max-width: 70%;
		}
		@include lg {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}
}
