@import "colors";
@import "mixins";

.container {
	height: auto;
	padding: 8rem 0 15rem 0;
	margin: 0 auto;
	max-width: 100%;

	h1 {
		text-align: center;
		text-transform: uppercase;
		color: $purple;
		font-weight: bold;
	}

	h2 {
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 2rem;
		color: $aqua;
	}

	@include md {
		max-width: 70%;
	}
}
.contactForm {
	margin: 0 auto;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
}

.inputGroup {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
	margin-bottom: 0.5rem;

	label {
		font-weight: bold;
		text-transform: uppercase;
		color: $aqua;
		font-size: 1.25rem;
	}
}

.input {
	padding: 5px 10px;
}

.message {
	padding: 5px 10px;
	max-width: 100%;
	min-width: 100%;
	margin-bottom: 0.5rem;
}

.submitBtn {
	padding: 10px 5px;
	width: 100%;
	background: $purple;
	color: $white;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.5rem;
	text-transform: uppercase;

	&:hover {
		background: $aqua;
		border-bottom: 3px solid $yellow;
	}
}
