@import "colors";
@import "mixins";

.formWrapper {
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	padding: 0.75rem 1.5rem;

	.formTitle {
		border-bottom: 4px solid $yellow;
		background: $blue;

		h1 {
			color: white;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			padding: 1rem;
		}
		
	}


	.contactForm {
		margin: 0 auto;
		
		.inputWrapper {
			display: flex;
			flex-direction: column;
		}
		
		.inputGroup {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: left;
			margin-bottom: 1.5rem;
		
			label {
				font-weight: bold;
				text-transform: uppercase;
				font-size: 1.25rem;
				padding-bottom: 0.5rem;
				color: $blue;
			}
		}
		
		.input {
			font-size: 1rem;
			padding: 0.5rem;
		}
		
		.message {
			padding: 0.5rem;
			font-size: 1rem;
			max-width: 100%;
			min-width: 100%;
			margin-bottom: 1.5rem;
		}
		
		.submitBtn {
			padding: 10px 5px;
			width: 100%;
			background: $blue;
			color: white;
			font-weight: bold;
			outline: none;
			border: none;
			cursor: pointer;
			font-size: 1.5rem;
			text-transform: uppercase;
		
			&:hover {
				background: $yellow;
				border-bottom: 5px solid $blue;
			}
		}
	
		@include md {
			padding: 2rem 8rem;
		}
	}
	
}




