@import "colors";
@import "mixins";

.container {
	height: auto;
	padding: 1rem 0;
	margin: 0 auto;
	max-width: 100%;

	h1 {
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
	}

	h2 {
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 2rem;
	}

	@include md {
		padding: 2rem 0;
		max-width: 80%;
	}
}
.contactForm {
	margin: 0 auto;
	padding: 1.5rem;

	@include md {
		padding: 3.5rem 3rem;
	}
}

.inputWrapper {
	display: flex;
	flex-direction: column;
}

.inputGroup {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
	margin-bottom: 1.5rem;

	label {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1.25rem;
		padding-bottom: 0.5rem;
	}
}

.input {
	font-size: 1rem;
	padding: 0.5rem;
}

.message {
	padding: 0.5rem;
	font-size: 1rem;
	max-width: 100%;
	min-width: 100%;
	margin-bottom: 1.5rem;
}

.submitBtn {
	padding: 10px 5px;
	width: 100%;
	background: $background;
	color: white;
	font-weight: bold;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
	text-transform: uppercase;

	&:hover {
		background: $blue;
	}
}
