@import "mixins";

.yesFace {
	height: 200px;
	width: 200px;
}

.maybeFace {
	height: 200px;
	width: 200px;
	display: none;
}

.btnGroup {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	border-top: 1px solid aqua;
	padding: 2rem;

	.button {
		color: white;
		padding: 1rem 2rem;

		@include xs {
			font-size: 1.25rem;
		}
	}

	.yes {
		&:hover {
			border-bottom: 1px solid green;
		}
	}

	.no {
		&:hover {
			border-bottom: 1px solid red;
		}
	}

	.maybe {
		&:hover {
			border-bottom: 1px solid purple;
		}
	}

	@include md {
		display: flex;
		flex-direction: row;
	}
}
