@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100;300;400;500;600&display=swap");
@import "mixins";
@import "colors";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
	color: #333;
	background: rgba($color: #000000, $alpha: 0.5);
	font-family: "Roboto", sans-serif;
	// line-height: 1.5em;
	// background: #c9ccd3;
	// background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
	// background-blend-mode: lighten;
}

p {
	line-height: 1.5em;
}

ul {
	list-style: none;
}

@include md {
	p {
		font-size: 1.25em;
	}

	h1 {
		font-size: 3rem;
	}
}
