@import "mixins";
@import "colors";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	font-weight: 400;
	background: #223344;
	color: white;
}

a {
	text-decoration: none;
	color: $yellow;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

span {
	font-size: 1.5rem;
}
