@import "mixins";
@import "colors";

.container {
	height: auto;
	padding: 1rem 0;
	margin: 0 auto;
	max-width: 100%;

	h1 {
		text-transform: uppercase;
		font-weight: bold;
	}

	h3 {
		color: $background;
		font-weight: bold;
	}

	@include md {
		padding: 2rem 0;
	}
}
.projectCard {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	margin: 0 auto 4rem auto;

	.imgArea {
		a {
			&:hover {
				transform: scale(1.1);
			}
		}
		.cardImage {
			width: 100%;
			height: auto;
		}
	}

	.descArea {
		.gitLink {
			color: $blue;
			margin-left: 1rem;

			&:hover {
				color: $yellow;
			}
		}
	}

	@include lg {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
