@import "mixins";
@import "colors";

.container {
	height: auto;

	h1 {
		text-transform: uppercase;
		font-weight: bold;
		color: $pink;
	}

	h3 {
		color: $yellow;
		font-weight: bold;
	}
}
.projectCard {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	margin: 0 auto 4rem auto;

	.imgArea {
		.cardImage {
			width: 100%;
			height: auto;
		}
	}

	.descArea {
		.gitLink {
			color: $aqua;
			margin-left: 1rem;

			&:hover {
				color: $purple;
			}
		}
	}

	@include lg {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
