@import "mixins";
@import "colors";
.projectCard {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	margin-bottom: 2rem;

	.imgArea {
		.cardImage {
			width: 100%;
			height: auto;
		}
	}

	.descArea {
		.gitLink {
			background: $aqua;
		}
	}

	@include lg {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
